.descript {
    font-size: 16px;
}

.result, .example {
    max-width: 1108px;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 16px;
    word-wrap: break-word;
}

footer {
    font-size: 16px;
}

@media screen and (max-width:768px) {
    #save, #download {
        height: 120px;
    }
}

@media screen and (max-width:374px) {
    #save, #download {
        height: 140px;
    }
}